<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

  <connectionStrings>
    <add name="MyConnectionString"
      connectionString="server=roommagnetdb.cvwg7dlynmzk.us-east-1.rds.amazonaws.com;&#xD;&#xA;         database=RoomMagnet;                                  &#xD;&#xA;         uid=Master;                                  &#xD;&#xA;         password=password;"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="AWSProfileName" value="Administrator"/>
  </appSettings>
<system.webServer>

    <directoryBrowse enabled="true"/>

 </system.webServer>
<system.codedom>
</system.codedom>

  
</configuration>